{% extends 'shop/basic.html'%}
{% block title %} Tracker {% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Enter Your Order Id & Email Id To Track Your Products. </h2>
        <form class="row g-3" method="post" action="#" id="trackerForm">{% csrf_token %}


            <div class="col-md-6">
                <label for="inputname" class="form-label">Order Id</label>
                <input type="text" class="form-control" id="orderId" name="orderId">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="col-12 my-4">
                <button type="submit" class="btn btn-success">Track Order</button>
            </div>
        </form>

    </div>
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div class="my-4">
            <ol class="list-group list-group-numbered" id="items">
              please enter you Order id and email to track your order.
            </ol>
        </div>



    </div>
</div>
{% endblock %}

{% block js %}
<script>

    $('#trackerForm').submit(function (event) {
        $('#items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
            .done(function (data) {
                console.log(data)
                updates = JSON.parse(data);
                if (updates.length > 0 & updates != {}) {

                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];

                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"></div>
                        ${text}
                    </div>
                    <span class="badge bg-primary rounded-pill">${time}</span>
                </li>`
                        $('#items').append(mystr);
                    }
                }else{
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"></div>
                        Sorry
                    </div>
                    
                </li>`
                        $('#items').append(mystr);

                }

            });
        event.preventDefault();
    });
</script>
{% endblock %}